.claude
__pycache__
*.pyc
mailmap.txt
db.sqlite3
*.py.swp
.DS_Store
Pipfile*
INFO.log
.env
.env*local
.env.local
env_files/env/*
.env.docker.local
setup.sh
.python-version
*.sql
.prompt.txt
*/tms/tests/invoice_docs/*
test_documents/
schema
*venv
machtms/logs/*
